{% extends 'base.html.twig' %}

{% block title %}Medicine{% endblock %}

{% block body %}
    <h1>Medicine</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Med_id</th>
                <td>{{ medicine.medId }}</td>
            </tr>
            <tr>
                <th>Med_name</th>
                <td>{{ medicine.medName }}</td>
            </tr>
            <tr>
                <th>Med_company</th>
                <td>{{ medicine.medCompany }}</td>
            </tr>
            <tr>
                <th>Med_company_phone</th>
                <td>{{ medicine.medCompanyPhone }}</td>
            </tr>
            <tr>
                <th>Med_company_email</th>
                <td>{{ medicine.medCompanyEmail }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_medicine_index') }}">back to list</a>

    <a href="{{ path('app_medicine_edit', {'med_id': medicine.med_id}) }}">edit</a>

    {{ include('medicine/_delete_form.html.twig') }}
{% endblock %}
